header {
  background-color: #8a9a90;
}
header #block-sitebranding {
  display: flex;
}
header #block-sitebranding .site-name a {
  color: #FFFFFF;
  font-size: 2rem;
  text-decoration: none;
}

footer .region-footer {
  background-color: #453a3e;
}

#block-highdesert-main-menu ul.menu {
  display: flex;
  flex-wrap: nowrap;
}
#block-highdesert-main-menu ul.menu li a {
  margin: 0 1rem 0 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
