footer .region-footer {
  background-color: #453a3e;
}

header {
  background-color: #8a9a90;
}
header #block-sitebranding {
  display: flex;
}
header #block-sitebranding .site-name a {
  color: #FFFFFF;
  font-size: 2rem;
  text-decoration: none;
}
