@import '../common/colors';
@import '../common/fonts';
@import '../common/mixins';

footer {

    .region-footer {
        background-color: $desertBrown;
        padding: 4rem 1rem 4rem 1rem;

        #block-highdesert-powered {
            color: $white;
            font-family: $latoRegular;
            font-size: 1rem;
            text-align: center;

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
