@import '../common/colors';
@import '../common/fonts';
@import '../common/mixins';

header {
    background-color: $desertGreen;

    #block-highdesert-sitebranding {
        align-items: center;
        display: flex;
        padding: 2rem 0 2rem 0;

        .site-logo {
            margin-left: 2rem;
        }

        .site-name {
            margin-left: 2rem;

            a {
                color: $white;
                font-family: $latoRegular;
                font-size: 2rem;
                text-decoration: none;
            }
        }
    }
}
