@font-face {
  font-display: swap;
  font-family: "Lato Regular";
  src: url("../../fonts/Lato-Regular.woff") format("woff");
}
article.node--type-article h2 a {
  background-color: #ceb8a2;
  display: block;
  color: #453a3e;
  font-family: "Lato Regular";
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  width: 100%;
}
