@font-face {
  font-display: swap;
  font-family: "Lato Regular";
  src: url("../../fonts/Lato-Regular.woff") format("woff");
}
main {
  margin: 2rem 2rem 0 2rem;
}

#block-pagetitle {
  color: #453a3e;
  font-family: "Lato Regular";
  font-size: 2rem;
}
