@font-face {
  font-display: swap;
  font-family: "Lato Regular";
  src: url("../../fonts/Lato-Regular.woff") format("woff");
}
header {
  background-color: #8a9a90;
}
header #block-highdesert-sitebranding {
  align-items: center;
  display: flex;
  padding: 1rem 0 1rem 0;
}
header #block-highdesert-sitebranding .site-logo {
  margin-left: 2rem;
}
header #block-highdesert-sitebranding .site-logo img {
  height: 100px;
}
header #block-highdesert-sitebranding .site-name {
  margin-left: 2rem;
}
header #block-highdesert-sitebranding .site-name a {
  color: #FFFFFF;
  font-family: "Lato Regular";
  font-size: 2rem;
  text-decoration: none;
}
