header {
  background-color: #8a9a90;
}
header #block-highdesert-sitebranding {
  display: flex;
}
header #block-highdesert-sitebranding .site-name a {
  color: #FFFFFF;
  font-size: 2rem;
  text-decoration: none;
}
