@import '../common/colors';
@import '../common/fonts';
@import '../common/mixins';

.region-primary-menu {

  ul.menu {
    background-color: $desertOrangeLight;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0.25rem 0 0 0;

    li.menu-item {
      list-style-type: none;
      padding: 0;

      a, a:visited {
        color: $desertBrown;
        display: block;
        font-family: $latoRegular;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 1rem 0 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        text-decoration: none;
      }

      a:hover {
        background-color: $desertOrange;
        color: $white;
      }
    }
  }

  [dir="rtl"] ul.menu {
    flex-direction: row-reverse;
  }
}
