@import '../common/colors';
@import '../common/fonts';
@import '../common/mixins';

.field--name-field-tags {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .field__item {
        a {
            background-color: $desertSand;
            border-radius: 0.5rem;
            display: block;
            color: $desertBrown;
            margin-right: 0.5rem;
            padding: 0.25rem 0.5rem;
            text-decoration: none;
        }
    }
}