.region-primary-menu ul.menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.region-primary-menu ul.menu li {
  list-style-type: none;
}
.region-primary-menu ul.menu li a {
  margin: 0 1rem 0 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.region-primary-menu [dir=rtl] ul.menu {
  flex-direction: row-reverse;
}
