@font-face {
  font-display: swap;
  font-family: "Lato Regular";
  src: url("../../fonts/Lato-Regular.woff") format("woff");
}
.region-primary-menu ul.menu {
  background-color: #ceb8a2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0.25rem 0 0 0;
}
.region-primary-menu ul.menu li.menu-item {
  list-style-type: none;
  padding: 0;
}
.region-primary-menu ul.menu li.menu-item a {
  display: block;
  font-family: "Lato Regular";
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem 0 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
}
.region-primary-menu ul.menu li.menu-item a:hover {
  background-color: #b2604a;
  color: #FFFFFF;
}
.region-primary-menu [dir=rtl] ul.menu {
  flex-direction: row-reverse;
}
