@font-face {
  font-display: swap;
  font-family: "Lato Regular";
  src: url("../../fonts/Lato-Regular.woff") format("woff");
}
.field--name-field-tags {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.field--name-field-tags .field__item a {
  background-color: #ceb8a2;
  border-radius: 0.5rem;
  display: block;
  color: #453a3e;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}
